@import "../../style/colours.css";

button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 4px;
  background-color: var(--primary-color-default);
  border: 1.5px solid var(--primary-color-default);
  border-radius: 4px;
  color: var(--grey-100);
}

button:hover {
  background-color: var(--primary-color-medium);
  border-color: var(--primary-color-medium);
}

button:active {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
  color: var(--grey-100);
}

button:focus {
  outline: 1px solid var(--grey-100);
  box-shadow: 0 0 0 4px #8490fb, 0px 0px 6px #3859f8;
}

button.secondary,
button.tertiary {
  color: var(--primary-color-default);
}

button.secondary:hover,
button.tertiary:hover {
  background-color: var(--primary-color-light);
}

button.secondary {
  background-color: var(--grey-100);
}

button.tertiary {
  background-color: transparent;
  border-color: transparent;
}

button.destructive {
  background-color: var(--error-default);
  border-color: var(--error-default);
}

button.destructive:hover {
  background-color: var(--error-medium);
  border-color: var(--error-medium);
}

button.destructive:active {
  background-color: var(--error-dark);
  border-color: var(--error-dark);
}

button.destructive:focus {
  outline: 1px solid var(--grey-100);
  box-shadow: 0 0 0 4px rgba(193, 29, 29, 0.4),
    0px 0px 6px rgba(193, 29, 29, 0.3);
}

button.disabled {
  background-color: var(--grey-300);
  border-color: var(--grey-300);
  color: var(--text-secondary);
  pointer-events: none;
}

button:not(.icon-only) {
  min-width: 100px;
}

button[class*="loading"] {
  pointer-events: none;
}
